asgiref==3.7.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
autopep8==2.0.4
cattrs==23.2.3
cffi==1.16.0
channels==4.0.0
channels-redis==4.1.0
constantly==23.10.4
cryptography==41.0.7
daphne==4.0.0
Django==4.2.5
django-cors-headers==4.2.0
django-filter==23.5
django-js-asset==2.2.0
django-mptt==0.15.0
django-rest-framework==0.1.0
django-schema-graph==3.1.0
django-user-agents==0.4.0
djangorestframework==3.14.0
djangorestframework-gis==1.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.25.1
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
inflection==0.5.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
msgpack==1.0.7
Pillow==10.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==23.3.0
python-dotenv==0.21.1
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
referencing==0.32.0
rpds-py==0.15.2
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==23.10.0
txaio==23.1.1
typing_extensions==4.9.0
ua-parser==0.18.0
uritemplate==4.1.1
user-agents==2.2.0
zope.interface==6.1
