{% extends 'admin/base_site.html' %}

{% block content %}
<h2>Send Notifications ss</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>
        <textarea name="{{ field.html_name }}" id="{{field.auto_id}}" style="width: 100%;" rows="5" class="form-control">{{field.value}}</textarea>
        {% if field.help_text %}
                <small class="form-text text-muted"></small>
        {% endif %}
        
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Send Notification</button>
</form>
{% endblock content %}